.based{
    text-align:center ;
    background-color: #f9f7fe;
    padding: 160px 20px;
    
}
h1,h2,p{
    text-align: center;
}
h2{
    font-family: poppins serif;
        font-weight: normal;
        font-size: 24px;
}
p{
    font-family: poppins, serif;
        font-weight: normal;
        font-size: 16px;
        margin-top: 30px;
        line-height: 1.5;
}
.choice{
    font-weight: normal;
        font-size: 18px;
        
}
.based p{
    font-family: poppins, serif;
    font-weight: bold;
    font-size: 36px;
    margin-top: 130px;
    padding: 0;
    line-height: 1.5;
    

    
}
.based h1{
    font-family: playfair display, serif;
    font-weight: bold;
    font-size: 96px;
    margin-top: 0%;
    
}
.based h2{
    font-family: poppins serif;
    font-weight: normal;
    font-size: 24px;
}
.btn-branding{
background: #6c63ff;
border-radius: 4px;
color: white;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;

}
.btn-branding-outline{
    color: #6c63ff;
    border: 1px solid #6c63ff;
    border-radius: 4px;
    font-weight: 16px;
    line-height: 27px;
    padding:15px 30px ;
}

.project-description{
    padding: 80px 60px;
}
@media(max-width:700){

    h1{
        font-size: 60px;
    }
    h2{
        font-size: 44px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }

}