.based{
    text-align:center ;
    background-color: #f9f7fe;
}
.based p{
    font-family: poppins, serif;
    font-weight: bold;
    font-size: 36px;
    margin-top: 130px ;

    
}
.based h1{
    font-family: playfair display, serif;
    font-weight: bold;
    font-size: 96px;
    margin-top: 0%;
    
}
.based h2{
    font-family: poppins serif;
    font-weight: normal;
    font-size: 24px;
}
.btn btn-primary{
border-radius: 4px;
background-color: #6c63ff;
}